#gparent{
    border: 1px solid red;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#parent{
    border: 1px solid red;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
#child{
    border: 1px solid red;
    height: 50px;
    width: 50px;
    background-color: brown;
}
